body {
  padding: 0 10px;
}
.header {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8d0c6;
}

.nav-container {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  color: gray;
  font-family: "Open Sans", sans-serif;
}
.link:hover {
  transform: scale(1.1);
  text-decoration: underline;
}
.logo-container {
  width: 5%;
  margin-left: 35px;
  display: flex;
  font-size: 25px;
  align-items: center;
  font-family: "WindSong", cursive;
}
a {
  text-decoration: none;
  color: gray;
}
#logo {
  color: gray;
  text-decoration: none;
}
#cursive {
  font-family: "WindSong", cursive;
  color: gray;
  z-index: 100;
  font-size: 100px;
  margin: -150px;
  opacity: 70%;
}
.name {
  font-size: 100px;
  opacity: 50%;
}

.divider {
  height: 3px;
  width: 50%;
  background-color: #f8d0c6;
  margin: auto;
}
#skills,
#work,
#contact {
  font-family: "Open Sans", sans-serif;
  height: 600px;
  width: 100%;
  color: #f8d0c6;
  align-items: center;
}

.about-box {
  display: flex;
  border: none;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 600px;
}
#about-me {
  display: flex;
  flex-direction: column;
  width: 60%;
  color: gray;
  /* font-size: 2px; */
  align-items: center;
  justify-content: center;
  height: 450px;
  border-bottom: 6px dotted gray;
  border-top: 6px dotted gray;
  margin-left: 100px;
  position: absolute;
  font-family: "Open Sans", sans-serif;
}
.about-heading {
  margin-bottom: -40px;
  color: #f8d0c6;
  font-size: 25px;
  margin-top: -15px;
}
.bio {
  width: 95%;
  font-size: 20px;
  display: flex;
  align-items: center;
}
.more {
  width: 85%;
  height: 20vh;
}
.left {
  width: 50%;
}
.banner {
  /* width: 30%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: gray;
  color: white;
  opacity: 60%;
  border-radius: 50%;
  margin-right: 20px; */
}
.photo {
  /* background-image: url("https://drive.google.com/uc?export=view&id=1IJqjB1WH5y3CTg4EiJsvEyuVgHmqsctm");
  height: 400px;
  width: 50%;
  object-fit: cover; */
}
.banner .photo {
  display: inline-block;
  width: 375px;
  height: 375px;
  background: url("https://drive.google.com/uc?export=view&id=1VP2zurDtMcrfyxjmrZcGTy1JXx3Mhw9I");
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 50%;
  margin-right: 30px;
}
#skills,
#work {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
.skills-left {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px;
  padding: 10px;
}
.skills-right {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
}
.dotted-lines {
  height: 400px;
  width: 5px;
  border-left: 8px dotted gray;
  margin: 10px;
}
.work-left {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: 100; */
  justify-content: space-between;
  align-items: center;
}
.skill-1 {
  width: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skill-image {
  height: 100px;
}
.skill-image:hover {
  transform: scale(1.2);
}
.skill-text {
  margin: 10px 0;
}

.wrapper-2 {
  display: flex;
}
.title {
  display: flex;
  align-items: center;
  margin-top: -45px;
}
.divider-2 {
  margin: 0 5px;
  height: 25px;
  width: 3px;
  background: gray;
}
#description {
  margin-top: -20px;
  font-size: 20px;
  margin-bottom: 20px;
  color: gray;
}
.pink {
  color: #f8d0c6;
  text-decoration: underline;
}
.top-dots {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.long-lines {
  width: 400px;
  height: 10px;
  border-top: 8px dotted gray;
  margin: 5px;
}
.short-lines {
  width: 300px;
  height: 10px;
  border-top: 8px dotted gray;
  margin: 5px;
}
.contact-heading {
  display: flex;
  font-size: 25px;
  width: 50%;
  margin: auto;
  justify-content: center;
  align-items: center;
  color: #f8d0c6;
}
.important-info {
  margin: auto;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.professional-links {
  display: flex;
  justify-content: center;
}
.email {
  display: flex;
  justify-content: center;
  font-size: 25px;
  color: gray;
}
.gray {
  color: gray;
  text-decoration: underline;
}
.gray:hover {
  color: #f8d0c6;
  text-decoration: underline;
}

#image {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}
